.standard-table,
.employee-table,
.course-table,
.ingredient-table {
    border-spacing: 5px;
    padding: 7px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: left;
    font-family: Arial, serif;
}
.employee-table th,
.employee-table td,
.course-table th,
.course-table td,
.ingredient-table th,
.ingredient-table td {
    padding-left: 5px;
    padding-right: 5px;
}
.employee-table tr:nth-of-type(odd),
.course-table tr:nth-of-type(odd),
.ingredient-table tr:nth-of-type(odd) {
    background-color: rgba(79, 204, 59, 0.2);
}
.employee-table th,
.course-table th,
.ingredient-table th {
    color: darkgreen;
    background-color: rgba(79, 204, 59, 0.32);
}
