.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: Arial, serif;
    border: 1px solid #000000;
    border-collapse: collapse;
}
