.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: Arial, serif;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.third {
    padding: 0;
    background-color: gray;
    /*height: 100px;*/
    float: left;
    display: table-cell;
    width: 33%;
}
.third:hover {
    background-color: red;
}
.third_holder {
    float: left;
    width: 100%;
    display: table-cell;
}
.whole_container {
    width: 100%;
    display: table;
}
.image-to-centre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}