.ordinary-container {
    position: relative;
    padding: 5px;
    font-family: Arial, serif;
}

.horizontal-container {
    padding: 0;
    width: 100%;
    display: table;
}
.horizontal-part-holder {
    float: left;
    width: 100%;
    display: table-cell;
}
.third {
    padding: 0;
    float: left;
    display: table-cell;
    width: 33%;
}
.two-thirds {
    padding: 0;
    float: left;
    display: table-cell;
    width: 67%;
}
.image-to-centre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-centre,
.around-emblem-text {
    text-align: center;
    vertical-align: middle;
}
.around-emblem-text {
    font-size: 70px;
    font-weight: bold;
    line-height: 200px;
}
.course-search-container {
    padding: 0;
    width: 90%;
    display: table;
}
.fifth {
    padding: 0;
    float: left;
    display: table-cell;
    width: 20%;
}
.three-fifths {
    padding: 0;
    float: left;
    display: table-cell;
    width: 59%;
}
.input-label {
    margin: 0;
    font-weight: bold;
}
.input-control {
    margin: 15px;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
}
.framed-div {
    border: 1px solid #000000;
    border-collapse: collapse;
}



